django==4.1.5
djangorestframework==3.14.0
drf-yasg==1.21.4
djangorestframework-simplejwt==5.2.2
pytest==7.2.1
pytest-django==4.5.2
redis==3.4.1
celery==5.2.7
django-celery-results==2.4.0
psycopg2-binary==2.9.3
python-dotenv==1.0.0